.container {
    width: 330px;
    height: 300px;

    background: white;

    margin: 0 auto;
    padding: 29px 24px 41px 24px;
}

.title {
    font-weight: 500;
    font-size: 20px;

    text-align: center;

    padding-bottom: 43px;
}

.text {
    color: #737067;
}

.input {
    width: 330px;
    height: 24px;

    border: none;
    border-bottom: 1px solid #DEDBDC;

    margin-bottom: 7px;
}

.buttonSend {
    width: 100%;
    margin: 49px 0 31px 0;
}

.backSignIn {
    display: flex;
    justify-content: center;

    color: black;
}
