.container {
    width: 330px;
    height: 325px;

    background: white;

    margin: 0 auto;

    padding: 29px 24px 36px 24px;
}

.title {
    font-weight: 500;
    font-size: 20px;

    text-align: center;
    padding-bottom: 23px;
}

.text {
    color: #737067;

    padding-top: 24px;
}

.input {
    position: absolute;

    width: 330px;
    height: 24px;

    border: none;
    border-bottom: 1px solid #DEDBDC;

    margin-bottom: 27px;
}

.eye {
    position: relative;

    left: 300px;

    cursor: pointer;
}

.createButton {
    width: 100%;
    margin-top: 29px;
}
