.postBlock {
    background: #faf7f8;
    flex-grow: 1;
    padding-left: 24px;
}

.backPostsBlock {
    display: flex;
    padding-bottom: 36px;
}

.backPostsBlock img {
    padding-right: 13px;
}

.avatarBlock {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.avatarBlock img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blogName {
    font-size: 16px;
    padding-left: 12px;
}

.postName {
    font-weight: 600;
    font-size: 22px;
}

.postDate {
    font-weight: 400;
    font-size: 12px;
    color: #797476;
}

.postImg {
    text-align: center;
    width: 940px;
    height: 432px;
    padding-bottom: 30px;
}

.postImg img {
    width: 100%;
    height: 100%;
}

.textPost {
    font-size: 16px;
}
