.settingsBlock {
    width: 4px;
    height: 16px;
    position: relative;
}

.settingsBlock img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.settings {
    width: 149px;
    height: 84px;
    position: absolute;
    top: 100%;
    right:  0;
    background: white;
    border: 2px solid #DEDBDC;
}

.settings img{
    width: 14px;
    height: 18px;
    padding-right: 17px;
}

.settings a {
    color: black;
}

.settings li {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.addPost {
    width: 300px;
    height: 300px;
    background: #faf7f8;
}

