.container {
    margin: 0;
    padding: 72px 95px 0 105px;
    background: #faf7f8;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 29px;
}

.signIn {
    width: 378px;
    height: 420px;
    background: #FFFFFF;
    padding: 0 24px 0 24px;
}

.text {
    color: #737067;
    margin: 0;
}

.userName {
    margin-bottom: 24px;
}

.signIn input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #DEDBDC;
}

.button {
    margin-top: 72px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.haveAccount {
    font-size: 16px;
    color: #737067;
    text-align: center;
}

a {
    font-weight: 500;
    color: #F8346B;
    text-align: center;
}

.rafiki {
    width: 632px;
    height: 470px;
}

.rafiki img {
    width: 100%;
}
