.blogsBlock {
    background: #faf7f8;
    flex-grow: 1;
}

.buttonShowMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 36px;
    border: 1px solid #1A1718;
    border-radius: 2px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.container {
    padding: 0 36px 0 25px;
}

.addBlogBlock {
    text-align: end;
}

.arrowBottom {
    padding-left: 11px;
}
