.blogsBlock{
    width: 80%;
    height: 100vh;
    background: #faf7f8;
}

.titleBlock {
    border-bottom: 1px solid #DEDBDC;
    margin-bottom: 25px;
}

/*blogs*/

.blogBlock {
    width: 100%;
    display: flex;
}

.avatarBlogs {
    width: 156px;
    height: 156px;
    background: #F8346B;
    border-radius: 50%;
}

.titleBlog {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
}

.titleBlock {

}

.descriptionBlock {
    width: 90%;
    padding-left: 12px;
}
