.blogsBlock {
    background: #faf7f8;
    display: flex;
    padding: 0 65px 0 24px;
}

.container {
    width: 100%;
}

.addBlogBlock {
    text-align: end;
}

.arrowBottom {
    padding-left: 11px;
}
