.blogsBlock {
    background: #faf7f8;
    display: flex;
    padding: 0 65px 0 24px;
}

.container {
    width: 100%;
}

.addBlogBlock {
    text-align: end;
}

.arrowBottom {
    padding-left: 11px;
}


@media screen and (max-width: 390px) {
    .blogsBlock {
        padding: 0 10px 0 10px;
    }
}
