.container {
    border: 1px solid #DEDBDC;
    margin-bottom: 20px;
}

.initValue {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDBDC;
    height: 36px;
    cursor: pointer;
}

.value {
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 6px 0 0 12px;
    cursor: pointer;
}

.arrow {
    padding-right: 14px;
}

.option{
    margin: 0;
    padding: 6px 0 6px 6px;}
