.postsBlock{
    background: #faf7f8;
    padding-left: 25px;
    flex-grow: 1;
}

.selectBlock {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*padding-right: 55px;*/
    position: absolute;
    right: 55px;
}

.postContainer {
    padding-top: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttonShowMore {
    width: 153px;
    height: 36px;
    border: 1px solid #1A1718;
    border-radius: 2px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    background: none;
}

.addPostButton {
    text-align: right;
    padding-right: 55px;
}
