.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.loader {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.buttonBlock {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    padding-bottom: 15px;
}

.textGlobal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.titleBlock{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDBDC;
}

.button {
    width: 118px;
    height: 36px;
    background: #F8346B;
    border-radius: 2px;
    border: none;
    color: #faf7f8;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 4px 18px rgba(248, 52, 107, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.main {
    display: flex;
    background: #faf7f8;
}
