.signUp {
    width: 378px;
    height: 492px;
    background: #FFFFFF;
    padding: 0 24px 0 24px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 29px 0 0 0;
}

.text {
    color: #737067;
    padding-top: 24px;
}

.signUp input {
    position: absolute;
    border: none;
    width: 330px;
    border-bottom: 1px solid #DEDBDC;
    margin-bottom: 24px;
}

.error {
    color: red;
    height: 22px;
}

.eye {
    cursor: pointer;
    position: relative;
    left: 300px;
}

.textLinEmail {
    color: #737067;
}

.button {
    margin-top: 17px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.signIn {
    font-weight: 500;
    color: #F8346B;
    text-align: center;
    display: flex;
    justify-content: center;
}

.already {
    font-size: 16px;
    color: #797476;
    padding: 18px 0 12px 0;
    display: flex;
    justify-content: center;
}
