.titleBlogs {
    border-bottom: 1px solid #DEDBDC;
    margin-bottom: 35px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 29px 0 7px 0;
}
