.blogBlock {
    width: 100%;
    background: #faf7f8;
}

.titleBlock{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDBDC;
    margin-bottom: 20px;
}

.titleBlog {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.titleName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.backBlogs {
    display: flex;
}

.backBlogsText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1A1718;
    padding-left: 10px;
}

.titleImage {
    width: 100%;
    height: 250px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleImage img {
    width: 70px;
    height: 60px;
}

