.blogBlock {
    background: #faf7f8;
    flex-grow: 1;
}

.containerBlog {
    padding-left: 25px;
}

.backBlogs {
    display: flex;
    cursor: pointer;
}

.backBlogsText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1A1718;
    padding-left: 10px;
}

.titleImage {
    flex-grow: 1;
    height: 312px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleImage img {
    width: 100%;
    height: 100%;
}

.showButton {
    width: 91px;
    height: 24px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    background: #faf7f8;
    cursor: pointer;
}
