.container {
    width: 100%;
    background: white;
    padding: 12px;
    margin-bottom: 12px;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.editMode {
    margin-top: 14px;
}

.headerComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatarBlock {
    width: 42px;
    height: 38px;
    padding-right: 12px;
}

.avatarBlock img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.nameProfile {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    padding-right: 16px;
}

.dateComment {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #797476;
}

.textComment {
    margin: 0;
    padding: 14px 54px 17px 54px;
}

/*...*/

/*.input {*/
/*    width: 100%;*/
/*    height: 85px;*/
/*    border: 1px solid #DEDBDC;*/
/*    border-radius: 2px;*/
/*    margin: 24px 0 24px 0;*/
/*}*/

/*.buttonGroup {*/
/*    text-align: right;*/
/*    padding-bottom: 24px;*/
/*}*/

/*.sendButton {*/
/*    width: 158px;*/
/*    height: 36px;*/
/*    font-weight: 600;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*}*/

/*.cancelButton {*/
/*    cursor: pointer;*/
/*    width: 96px;*/
/*    height: 36px;*/
/*    background: none;*/
/*    color: #F8346B;*/
/*    border: 1px solid #F8346B;*/
/*    border-radius: 2px;*/
/*    font-weight: 600;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    margin-right: 20px;*/
/*    border-radius: 2px;*/
/*}*/

/*.cancelButton:hover {*/
/*    box-shadow: 0px 4px 18px rgba(248, 52, 107, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);*/
/*}*/

/*.disabledButton {*/
/*    width: 158px;*/
/*    height: 36px;*/
/*    font-weight: 600;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    background: #f27195;*/
/*}*/
