.container {
    width: 256px;
    border: 1px solid #DEDBDC;
    border-radius: 2px;
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 18px 0px 12px;
}
