.searchSvg {
    position: relative;
    left: 30px;
    z-index: 1;
    padding-top: 10px;
}

.inputSearch {
    width: 672px;
    height: 36px;
    border: 1px solid #DEDBDC;
    border-radius: 2px;
    background: #FAF7F8;
    position: absolute;
    padding-left: 48px;
}

.selectBlock {
    position: absolute;
    right: 55px;
    top: 140px;
}

@media screen and (max-width: 1310px) {
    .inputSearch {
        width: 400px;
    }
}

@media screen and (max-width: 1310px) {
    .inputSearch {
        width: 250px;
    }
}

@media screen and (max-width: 390px) {
    .selectBlock {
        right: 10px;
        top: 156px;
    }
    .inputSearch {
        width: 85px;
        padding-left: 30px;
    }
    .searchSvg {
        left: 25px;
    }
}
