.thisDevicesBlock {
    margin: 0;

    width: 100%;
}

.thisDevices {
    width: 100%;
    margin-bottom: 12px;

    background-color: white;

    display: flex;
}

.browserImg {
    width: 36px;
    height: 36px;

    padding: 24px 24px;
}

.titleBrowser {
    font-weight: 600;
    font-size: 16px;
    padding: 18px 0 13px 0;
}

.thisDevicesInfo {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}

.ip {
    font-size: 12px;
}

.loginOut {
    cursor: pointer;
    display: flex;
    width: 120px;
    align-items: center;
    flex-direction: row;
    padding-right: 24px;
}

.loginOutImg {
    width: 18px;
    height: 18px;

    padding-right: 15px;
}
