.thisDevicesBlock {
    margin: 0;

    width: 100%;
}

.thisDevices {
    width: 100%;
    margin-bottom: 12px;

    background-color: white;

    display: flex;
}

.thisDevicesInfo {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}
