.container {
    padding: 72px 95px 0 105px;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.rafiki {
    width: 632px;
    height: 470px;
}

.rafiki img {
    width: 100%;
}

@media screen and (max-width: 1150px){
    .rafiki {
        display: none;
    }
    .container {
        padding: 72px 20px 0 20px;
    }
}
