.navBlock{
    width: 252px;
    background: white;
}

.link{
    color: black;
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navBlock li {
    padding-bottom: 10px ;
}

.nav li:active {
    color: red;
}
.navSvg * {
    fill: #1A1718;
}

.activeList:hover * {
    fill: #F8346B;
    color: #F8346B;
}

/*.activeLink * {*/
/*    fill: #F8346B;*/
/*    color: #F8346B;*/
/*}*/

.navBlock li:hover {
    border-right: 2px solid #F8346B;
}


