.linkBlock{
    display: flex;
}

.navBlock{
    width: 252px;
}

.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;
    padding-left: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.link:hover {
    color: #F8346B;
}

li:hover {
    border-right: 1px solid #F8346B;
}


