.container {
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 65px 0 65px 0;
}

.container img{
    padding-top: 72px;
    width: 432px;
    height: 300px;
}

.expiredContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleExpired {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 65px 0 24px 0;
}

.buttonResend {
    width: 212px;
    margin-bottom: 31px;
}
